{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="display-1">About Us</h2>
            <p class="fs-4">
                Green Motors is a startup company based in Des Moines, Iowa. We started the company because we
                believe
                in electric vehicles, but we wanted to offer an alternative choice to consumers other than the
                biggest
                motor companies. We began selling electric car accessories, including chargers. Our company has a
                friendly work culture and we value passion, innovation, and care.
            </p>
            <p class="fs-4">
                One of the first things we did as a company was create a strong research division that strives to
                innovate and find new solutions. Ultimately the goal is making things greener and cheaper for our
                customers. We put time and care into crafting a perfect product that is efficient, cheap, and
                environmentally friendly. An example of this is the electric car chargers we offer for cheaper than
                the
                bigger companies.
            </p>

            <h2 class="display-1">Mission</h2>
            <p class="fs-4">
                We don't just care about carbon emissions but also the impacts of sourcing resources. Many motor
                companies get the materials for their products from the cheapest source rather than the cleanest,
                while
                we research and communicate with companies to find better alternatives. The product of all our
                hard-work
                and care is a series of first class electric motorcycles that we want to bring to the world.
            </p>

        </div>
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-around flex-column">
            <img src="static/img/chelsea-WvusC5M-TM8-unsplash.jpg" alt="windenergy" class="my-2 img-fluid">
            <img src="static/img/roger-starnes-sr-VUuBpG5avLY-unsplash.jpg" alt="green" class="my-2 img-fluid">
        </div>
    </div>
</div>
{% endblock %}