{% extends "base.html" %}
{% block title %}Green Motors{% endblock %}
{% block content %}
<h1 class="text-center mt-3">Green Motors - Shop</h1>
<h5 class="text-center header-line">Buy Bikes Now!</h5>

<div class="container">
    <div class="card-group">
        <div class="row">
            {% for motor in motors%}
            <div class="card col-md-4">
                <img class="card-img-top" src="static/img/placeholder.png" alt="">
                <div class="card-body">
                    <h2>{{ motor.modelName }}</h2>
                    <h3 class="">Bike Info</h3>
                    <form name="{{motor.modelName}}" method="POST" onsubmit="return false" class="bikeForm">
                        <label for="seatType">Seat Type:
                        </label>
                        <input type="radio" name="seatType" value="standard" checked>Seat
                        <br>
                        <label for="wheelType">Wheel Type:
                        </label>
                        {% for wheel in wheels%}
                        <input type="radio" name="wheelType" value="{{wheel.wheelType}}" checked>{{wheel.wheelType}}
                        {% endfor %}
                        <br>
                        <label for="colorType">Color:
                        </label>
                        {% for color in colors%}
                        <input type="radio" name="colorType" value="{{color.colorCombo}}" checked>{{color.colorCombo}}
                        {% endfor %}
                        <br>
                        <br>
                        <h5>{{ "${:,.2f}".format(motor.modelCost) }}</h5>
                        <br>
                        <div class="d-flex">
                            <input type="submit" class="btn btn-success" value="Add to Cart">
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
</div>
<script>

    let bikePrices = new Map();
    {% for motor in motors %}
    bikePrices.set('{{motor.modelName}}', {{motor.modelCost}});
    {% endfor %}
    let colorPrices = new Map();
    {% for color in colors %}
    colorPrices.set('{{color.colorCombo}}', {{color.colorCost}});
    {% endfor %}
    let wheelPrices = new Map();
    {% for wheel in wheels %}
    wheelPrices.set('{{wheel.wheelType}}', {{wheel.wheelCost}});
    {% endfor %}
    

    $('.bikeForm').on("change", (event) => {
        let bikeForm = event.target.parentElement;
        let bikeName = bikeForm.name;
        let seatType = bikeForm.querySelector('input[name="seatType"]:checked').value;
        let wheelType = bikeForm.querySelector('input[name="wheelType"]:checked').value;
        let colorType = bikeForm.querySelector('input[name="colorType"]:checked').value;
        let bikePrice = bikePrices.get(bikeName);
        let wheelPrice = wheelPrices.get(wheelType);
        let colorPrice = colorPrices.get(colorType);
        let price = bikePrice + wheelPrice + colorPrice;
        bikeForm.querySelector('h5').innerText = '$'+(price.toLocaleString());
        console.log(seatType, wheelType, colorType);
    });
</script>
{% endblock %}