{% extends "base.html" %}
{% block title %}Green Motors{% endblock %}
{% block content %}
<h1 class="text-center mt-3">Green Motors - Shop</h1>
<h5 class="text-center header-line">Buy Bikes Now!</h5>

<div class="container">
    <div class="card-group">
        <div class="row">
            <div class="card col-md-4">
                <img class="card-img-top" src="static/img/placeholder.png" alt="">
                <div class="card-body">
                    <h2>Lightning Bike (96v)</h2>
                    <h3 class="">Bike Info</h3>
                    <form name="lightningBike" method="POST" onsubmit="return false" class="bikeForm">
                        <label for="seatType">Seat Type:
                        </label>
                        <input type="radio" name="seatType" value="standard" checked>Standard
                        <input type="radio" name="seatType" value="solo">Solo
                        <br>
                        <label for="wheelType">Wheel Type:
                        </label>
                        <input type="radio" name="wheelType" value="standard" checked>Standard
                        <input type="radio" name="wheelType" value="premium">Premium
                        <br>
                        <label for="colorType">Color:
                        </label>
                        <input type="radio" name="colorType" value="standard" checked>Standard
                        <input type="radio" name="colorType" value="premium">Premium
                        <br>
                        <br>
                        <h5>$8,999</h5>
                        <br>
                        <div class="d-flex">
                            <input type="submit" class="btn btn-success" value="Add to Cart">
                        </div>
                    </form>
                </div>
            </div>

            <div class="card col-md-4">
                <img class="card-img-top" src="static/img/placeholder.png">
                <div class="card-body">
                    <h2>Sparkle Bike (48v)</h2>
                    <h3 class="">Bike Info</h3>
                    <form name="sparkleBike" method="POST" onsubmit="return false" class="bikeForm">
                        <label for="seatType">Seat Type:
                        </label>
                        <input type="radio" name="seatType" value="standard" checked>Standard
                        <input type="radio" name="seatType" value="solo">Solo
                        <br>
                        <label for="wheelType">Wheel Type:
                        </label>
                        <input type="radio" name="wheelType" value="standard" checked>Standard
                        <input type="radio" name="wheelType" value="premium">Premium
                        <br>
                        <label for="colorType">Color:
                        </label>
                        <input type="radio" name="colorType" value="standard" checked>Standard
                        <input type="radio" name="colorType" value="premium">Premium
                        <br>
                        <br>
                        <h5>$5,999</h5>
                        <br>
                        <div class="d-flex">
                            <input type="submit" class="btn btn-success" value="Add to Cart">
                        </div>
                    </form>
                </div>
            </div>
            <div class="card col-md-4">
                <img class="card-img-top" src="static/img/placeholder.png">

                <div class="card-body">
                    <h2>Thunder Bike (198v)</h2>
                    <h3 class="">Bike Info</h3>
                    <form name="thunderBike" method="POST" onsubmit="return false" class="bikeForm">
                        <label for="seatType">Seat Type:
                        </label>
                        <input type="radio" name="seatType" value="standard" checked>Standard
                        <input type="radio" name="seatType" value="solo">Solo
                        <br>
                        <label for="wheelType">Wheel Type:
                        </label>
                        <input type="radio" name="wheelType" value="standard" checked>Standard
                        <input type="radio" name="wheelType" value="premium">Premium
                        <br>
                        <label for="colorType">Color:
                        </label>
                        <input type="radio" name="colorType" value="standard" checked>Standard
                        <input type="radio" name="colorType" value="premium">Premium
                        <br>
                        <br>
                        <h5>$10,999</h5>
                        <br>
                        <div class="d-flex">
                            <input type="submit" class="btn btn-success" value="Add to Cart">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-4">
            <img class="card-img-top" src="static/img/placeholder.png" alt="">
            <div class="card-body">
                <h2>Firefly Bike (24v)</h2>
                <h3 class="">Bike Info</h3>
                <form name="fireflyBike" method="POST" onsubmit="return false" class="bikeForm">
                    <label for="seatType">Seat Type:
                    </label>
                    <input type="radio" name="seatType" value="standard" checked>Standard
                    <input type="radio" name="seatType" value="solo">Solo
                    <br>
                    <label for="wheelType">Wheel Type:
                    </label>
                    <input type="radio" name="wheelType" value="standard" checked>Standard
                    <input type="radio" name="wheelType" value="premium">Premium
                    <br>
                    <label for="colorType">Color:
                    </label>
                    <input type="radio" name="colorType" value="standard" checked>Standard
                    <input type="radio" name="colorType" value="premium">Premium
                    <br>
                    <br>
                    <h5>$3,999</h5>
                    <br>
                    <div class="d-flex">
                        <input type="submit" class="btn btn-success" value="Add to Cart">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

    let basePrices = new Map();
    basePrices.set('lightingBike', 8999);
    basePrices.set('sparkleBike', 5999);
    basePrices.set('thunderBike', 10999);
    basePrices.set('fireflyBike', 3999);

    const seatCost = 0;
    const wheelCost = 100;
    const colorCost = 250;

    $('.bikeForm').on("change", (event) => {
        let bikeForm = event.target.parentElement;
        let bikeName = bikeForm.name;
        let seatType = bikeForm.querySelector('input[name="seatType"]:checked').value;
        let wheelType = bikeForm.querySelector('input[name="wheelType"]:checked').value;
        let colorType = bikeForm.querySelector('input[name="colorType"]:checked').value;
        let price = basePrices.get(bikeName)
            + (wheelType == 'premium' ? wheelCost : 0)
            + (colorType == 'premium' ? colorCost : 0);
        bikeForm.querySelector('h5').innerText = '$'+(price.toLocaleString());
        console.log(seatType, wheelType, colorType);
    });
</script>
{% endblock %}