{% extends "base.html" %}
{% block title %}Green Motors{% endblock %}
{% block content %}
    <h1 class="text-center mt-3">Green Motors - FAQ</h1>
    <h5 class="text-center header-line">Frequently Asked Questions</h5>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="text-center question-line mt-4">What is our goal?</h2>

                <p class="text-center">At Green Motors, our goal is to provide you with eco-friendly <br> 
                    motorcycles that aim to reduce the harmful impact on the <br> 
                    environment that come from alternative fuel vehicles.</p>

                <h2 class="text-center question-line">How do I charge my motorycle?</h2>

                <p class="text-center">You can charge your bike by using the provided charger and connecting to <br> 
                    any household outlet for an overnight charge. For a faster charge, <br>
                    you can visit any charging station and get a full charge in an hour.</p>

                <h2 class="text-center question-line">What happens if my battery goes bad?</h2>

                <p class="text-center">If you feel that your bike is getting less miles with each charge you might <br> 
                    need a new battery. We will offer 8 years of warranty on your vehicles battery <br> 
                    in order to make sure your vehicle is mainting normal performance.</p>

                <h2 class="text-center question-line">Can I test drive any of your motorycles?</h2>

                <p class="text-center">Just like any new vehicle you can make an appointment at any dealership <br> 
                    that offers Green Motors branded vehicles and give them a test<br> 
                    drive before you commit to the purchase. </p>

                <h2 class="text-center question-line">How does Green Motors help the environment?</h2>

                <p class="text-center">Because our motorcycles run on electricity that means our bikes have no tailpipe emission. <br> 
                    That means that no fumes from gasoline are released and helps to reduce air pollution.</p>

                <h2 class="text-center question-line">Are electric motorcycles better than gas motorcycles?</h2>

                <p class="text-center">Electric motorcycles are great for beginners because of the lack of a clutch, it makes them 
                    <br> perfect for beginners. Electric motorycles also require less maintanence than gas motorcycles. </p>
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center justify-content-around flex-column">
                <div>
                    <img class="my-2 img-fluid" src="static/img/charging.png" alt="">
                </div>
                <div>
                    <img class="my-2 img-fluid" src="static/img/forest.png" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}