{% extends "base.html" %}
{% block title %}Green Motors{% endblock %}
{% block content %}
<link href="static/css/index.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-6 d-flex align-items-center">
            <div class="text-center flex-fill">
                <h1 class="display-1 lh-1 mb-3">Green Motors</h1>
                <p class="lead fw-normal text-muted mb-5">Good motorcycle</p>
            </div>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-center">
            <div class="cool-circle text-center">
                <img src="static/img/motorbike.svg" class="motorcycle-svg">
            </div>
        </div>
    </div>
    <h1 class="display-2 text-center header-line">We are Green Motors</h1>
    <p class="px-5 fs-5">
        Our goal is to create eco-friendly choices for motorcyclists who care about the world around them. We think that right now it is hard to find
        environmentally friendly motorcycles without compromising on cost, but we are changing that. We're glad to see you here - you can check out our models
        or learn more about our company and how we sell motorcycles with minimal impact to the environment. 
    </p>
    <div class="d-flex my-3 justify-content-center align-items-center">
        <img src="static/img/green-energy-wikimedia.jpg" style="max-width: 50%; height: 100%" alt="">
    </div>
</div>
<footer class="text-center text-lg-start bg-dark text-muted mt-5 p-2">
    Website by group A for Business Analysis.<br/>
    Idk what else to put here. Hi
    <div>Motorcycle icon made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
</footer>
{% endblock %}